* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 0.5rem;
}

li {
  list-style-type: none;
}

.word-form {
  display: none;
}

.winning-panel {
  display: none;
  margin-top: 1rem;
}

.reset-game-button {
  margin: 0.5rem 0;
}

.losing-panel {
  display: none;
}

button {
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

.start-game-button {
  margin-top: 0.5rem;
}

.ready-button {
  margin-top: 0.5rem;
}

button:hover {
  background-color: #ddd;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}

.word-input {
  margin-top: 1rem;
}
