* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

li {
  list-style-type: none;
}

.word-form {
  display: none;
}

.winning-panel {
  display: none;
  margin-top: 1rem;
}

.reset-game-button {
  margin: 0.5rem 0;
}

.losing-panel {
  display: none;
}

.losing-panel h3 {
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d4a600;
  border-radius: 1rem;
  cursor: pointer;
}

.start-game-button {
  margin-top: 1rem;
}

.ready-button {
  margin-top: 0.5rem;
}

button:hover {
  background-color: #ffcc00;
}

button:focus {
  background-color: #d4a600;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  width: 200px;
}

.word-input {
  margin-top: 1rem;
}

.words-history li:last-child b {
  color: #4aa04e;
}
