.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}


.winning-panel {
  margin-top: 1rem;
}

.new-game-button {
  margin: 0.5rem 0;
  margin-right:0.5rem;
  background-color: #4aa04e;
  color:white;
  &:hover {
    background-color: #65a568;
  }
}

.losing-panel h3 {
  margin-top: 0.5rem;
}

.start-button {
  margin-top: 1rem;
  margin-right:0.5rem;
  background-color: #4aa04e;
  color:white;
  &:hover {
    background-color: #65a568;
  }
}

.back-to-lobby-button {
  background-color: #a04a4a;
  color:white;
  &:hover {
    background-color: #a56868;
  }
}

.ready-button {
  margin-top: 0.5rem;
  margin-left:0.5rem;
}

.word-input {
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.words-history li:last-child b {
  color: #4aa04e;
}

.same-word-button {
  margin-top:1rem;
  background-color: #4aa04e;
  color:white;
  &:hover {
    background-color: #65a568;
  }
}

.title-wrapper {
  display:flex;
  align-items: center;
}

.question-icon {
  margin-left:1rem;
  margin-top:0.3rem;
  background-color:#4aa04e;
  font-size:1rem;
  padding:0.4rem 0.62rem 0.4rem 0.6rem;
  color:white;
  border-radius: 100%;
  cursor:pointer;
  &:hover {
    background-color: #65a568;
  }
}
