.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}


.winning-panel {
  margin-top: 1rem;
}

.reset-game-button {
  margin: 0.5rem 0;
}

.losing-panel h3 {
  margin-top: 0.5rem;
}

.start-button {
  margin-top: 1rem;
}

.ready-button {
  margin-top: 0.5rem;
  margin-left:0.5rem;
}

.word-input {
  margin-top: 1rem;
}

.words-history li:last-child b {
  color: #4aa04e;
}
